@font-face {
    font-family: 'AaFangMeng';
    src: url('AaFangMeng.woff2') format('woff2'),
        url('AaFangMeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

